:root {
    --grey: #565656;
    --blue: #0891B2;
    --box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;    
}

body {
    background-color: #f5f5f5
}

h1,h3,h4,h5 {
    font-family: 'Playfair Display', serif;    
}

img {
    object-fit: cover;
}

.description {
    color: var(--grey);
}

.container {    
    max-width: min(1200px, 100vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;        
}

/* About me */
#aboutMeSection {
    display: flex;
    position: relative;
    align-items: center;        
    padding: 2rem;    
}

#aboutMeBg {
    position: absolute;
    top: 0;
    left: 0;    
    height: 100%;
    width: 100%;
    z-index: -1;
}

.bgTop {
    background-color: var(--blue);
    width: 100%;
    height: 50%;
}

.bgBottom {
    background-color: var(--blue);
    width: 100%;
    height: 50%;
    background-image:    
    linear-gradient(to top left, white 50%, transparent 0);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left, right;
}

#aboutMe {
    box-shadow: var(--box-shadow);
    padding: 1rem;
    background-color: white;
}

#profilePicture {
    position: relative;
}

#profileName {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#imgProfile {
    height: 100%;
}

#profileName {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;    
    color: white;
}

.social-links {
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    margin: 1rem 0;
}

/* My work */
#myWorkSection {    
    padding: 2rem;
    background-color: white;
}

#myWorkSection > h1 {
    margin-bottom: 1rem;     
}

.row {
    display: flex;        
    flex-wrap: wrap;
    gap: 1rem
}

.col {    
    flex: 1 0 30%
}

.img-fluid,.card-img-top {
    max-width: 100%;
}

.project-links {
    display: inline;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: 3rem;
}

.card-body {
    padding: 0.5rem;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Contact */
#contactSection {
    background-color: var(--blue);
    color: white;
    display: grid;
    grid-template-columns: 2fr 3fr;    
    padding: 2rem;
    gap: 0.5rem;
}

#contactInformation {
    padding: 0.5rem;
}

#contactInformation > .social-links {
    justify-content: start;
}

@media screen and (max-width: 991px) {
/* start of large tablet styles */
    .col {    
        flex: 1 0 45%
    }    
}
    
@media screen and (max-width: 767px) {
/* start of medium tablet styles */
    .col {    
        flex: 1 0 45%
    }
}

@media screen and (max-width: 479px) {
/* start of phone styles */
    .container {
        padding: 0.5rem;
        display: block;
    }    
    #aboutMeBg {
        display: none;
    }   
    h1 {
        text-align: center;
        margin: 0.5rem;
    }

    #aboutMeSection {
        display: block;
    }

    .row {
        display: block;
    }
}